@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    background: radial-gradient(circle at top, #020024, #090979, #00d4ff);
    display: flex;
    align-items: center;
    justify-content: center;
}

.scanner-box {
    background: rgba(0, 0, 0, 0.85);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 50px rgba(0, 255, 255, 0.6);
    text-align: center;
    color: white;
    width: 400px;
    animation: fadeIn 1s ease-in-out;
}

h2 {
    margin-bottom: 20px;
    color: cyan;
    text-shadow: 0 0 10px cyan;
}

input {
    padding: 12px;
    width: 90%;
    border-radius: 8px;
    border: none;
    outline: none;
    margin-bottom: 15px;
    text-align: center;
    font-size: 16px;
}

button {
    padding: 12px 25px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(45deg, cyan, #00ffaa);
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px cyan;
}

video {
    border-radius: 12px;
    box-shadow: 0 0 25px cyan;
    margin-top: 15px;
}

.scan-line {
    position: absolute;
    width: 320px;
    height: 2px;
    background: cyan;
    animation: scan 2s linear infinite;
}

@keyframes scan {
    0% { top: 0px; }
    100% { top: 238px; }
}

.progress-bar {
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 6px;
    width: 0%;
    background: #00ffaa;
    border-radius: 3px;
    transition: width 0.05s linear;
}

.result {
    margin-top: 20px;
    font-size: 15px;
    animation: fadeIn 0.5s ease-in-out;
}

.result-content {
    opacity: 0;
    animation: fadeInResult 0.7s forwards;
}

@keyframes fadeInResult {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

.loading-dots span {
    display: inline-block;
    animation: blink 1.4s infinite both;
}

.loading-dots span:nth-child(1) { animation-delay: 0s; }
.loading-dots span:nth-child(2) { animation-delay: 0.2s; }
.loading-dots span:nth-child(3) { animation-delay: 0.4s; }

@keyframes blink {
    0%, 80%, 100% { opacity: 0; }
    40% { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}
  .back-btn {
      display: inline-block;
      margin-top: 15px;
      padding: 8px 16px;
      border: 1px solid cyan;
      border-radius: 10px;
      color: cyan;
      text-decoration: none;
      box-shadow: 0 0 10px cyan;
      transition: 0.3s;
    }